/* Removed Font-Families
 -apple-system , BlinkMacSystemFont , Segoe UI , Roboto , Oxygen ,   */

body {
  font-family: Ubuntu , Cantarell , Fira Sans , Droid Sans , Helvetica Neue , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}
